.container {
  padding: 3rem 1.5rem;
  text-align: center;
}

.title {
  margin-bottom: 3rem;
}
.titleIcon {
  display: block;
  font-size: 4rem;
}

.button {
  padding: 0.3em 0.5em 0.33em;
  background: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 2rem;
}
.button:hover,
.button:focus {
  color: #fff;
  background: #006cd1;
  border-color: #006cd1;
}
.buttonIcon {
  vertical-align: middle;
  margin-right: 0.3rem;
}
